<!-- <div class=row> -->
<!-- <div class="container homelette"> -->

	<div id="" class="col-sm-12"> <!-- whole selector area -->
			


				<div class="container"> 
					<div class="col-sm-12 selector-menu"> 
			    		 	<div class="container"> 
			    			
			    			<div class="col-sm-2 pull-left"> 

						    		 <h2 id="MyDinnerFor">  My dinner for {{getNumberOfGuests()}}  </h2>  	
							</div> 

							
					
							<div class="col-sm-2"> 

								<a href="#search" class="btn btn-group btn-group-md pull-right center-block" role="group" 
								id="BackToSelector">
									<type="button" ng-href="#search"  class="btn btn-default btn-custom"> Go back and edit dinner </a> 
		 
							</div>

						

						<div class="col-sm-2 PrintButton center-block"> 
					
				    		
							<a href="#dinner_preparation" id="PrintFullRecipe" name="singlebutton" class="btn btn-default">  Print full recipe
							
							</a> 
							
						
						</div>

						<div class="col-xs-2"> 

						<div class="input-group overview-input text-right" style="width: 200px;" id="OverviewTotal"> 
							   <span class="TotalColor input-group-addon" id=" "> Total </span>
							 <input ng-value="getTotalMenuPrice()" id="OverviewMenuTotal" type="text" class="form-control" aria-label="Amount" readonly value="892">
							   <span class="TotalColor input-group-addon"id=" " >SEK</span>
						</div>

						</div>

						<div class="col-sm-4">
					
				    		
						</div>

						
						
						</div>

						</div>

								

			    	</div> 


			
	
	<div  id="OverviewDishes">

					<div ng-repeat="dish in fullMenu()" class="col-sm-3"> 
							<div class="panel panel-warning">
					  			<div class="panel-heading"> {{dish.Title}} 

					  			<!-- // "<span><button class="button button-default glyphicon glyphicon-plus AddButton"></button></span>"
					  			
					  			// "<span><button class="button button-default glyphicon glyphicon glyphicon-th-list AddButton"></button></span>" -->


					  			</div>
					  			<div class="panel-body">

					  				<img class="img-circle" width="100%" height="100%" ng-src="{{dish.ImageURL}}"></img>

					  			</div>
					  			<div class="panel-footer">  {{getTotalDishPrice(dish.RecipeID)}} SEK  </div>
							</div>

						</div>




	</div>
	<!-- <div id="OverviewConfirm">





	</div> -->


	</div>
<!-- </div>  --> 
	

	 <!-- selector area END --> 

	
	  <!--   </div>  -->
