<div class=row>
<div class="container homelette">

	<div id="" class="col-sm-12 selector"> <!-- whole selector area -->
	<div id="OverviewTopPanel"></div>
	
	<div id="OverviewDishes"></div>
	<div id="OverviewConfirm"></div>


	</div>
	</div>  
	

	 <!-- selector area END --> 

	<div class="container"> 
		<div class="col-sm-12 selector-menu"> 
			    		 	<div class="container"> 
			    			
			    			<div class="col-sm-2 pull-left"> 

						    		 <h2 id="MyDinnerFor">  My dinner for"  " <span id ="GuestNumber"></span> "people"   </h2>  	
							</div> 

							
					
							<div class="col-sm-2"> 

								<a class="btn btn-group btn-group-md pull-right center-block" role="group" 
								id="BackToSelector"
									<type="button" class="btn btn-default btn-custom"> Go back and edit dinner </a> 
		 
							</div>

						

						<div class="col-sm-2 PrintButton center-block"> 
					
				    		
							<a id="PrintFullRecipe" name="singlebutton" class="btn btn-default"  "Print full recipe!">
							</a> 
							
						
						</div>

						<div class="col-xs-2"> 

						<div class="input-group overview-input text-right" style="width: 200px;" id="OverviewTotal"> 
							   <span class="TotalColor input-group-addon" id=" "> "Total" </span>
							 <input id="OverviewMenuTotal" type="text" class="form-control" aria-label="Amount" readonly value="892">
							   <span class="TotalColor input-group-addon"id=" " >"SEK"</span>
						</div>

						</div>

						<div class="col-sm-4">
					
				    		
						</div>

						
						
						</div>

						</div>

								

			    	</div> 
	    </div> 
