<!-- We include the sidebar as it is shared across two screens. --> 


<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="row">

	<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div class="col-sm-8 selector"> <!-- whole selector area -->

			    <div class="container">

			    	<div class="row">
			    	<div class="DishSpinner"></div>

			    	 <div class="col-sm-6 selector-method DishInfo" id="Meatballs"> 

						 	<h2> dish.Title  </h2>
						 	<img class="img-thumbnail" width="250" height="250" src=""></img> <!-- dish.ImageURL -->

						 	<p>  dish.Description  </p>
						 	<h3>  Instructions  </h3> 
						 	<h4>  Total preparation time:"  " "  dish.TotalMinutes   " "  "minutes"  "</h4>
						 	<p>  dish.Instructions  </p>
 	
			    	</div>



			    		<div class="col-sm-6 selector-ingredients"> 
			    			<div class="col-sm-12">

			    			<div class="col-sm-6"> 
			    				<h3>  dish.Title  " "  "for</h3>

			    			</div> 


							<div class="col-sm-6">

			    				
			    				<span class="input-group"> 
			    				<br> 	
								<h3>  model.getNumberOfGuests()  "</h3>

								</span> 

			    			</div> 

			    			 <table class="table table-hover ">
				    			  
				    				<th>Amount</th>
				    				<th>Unit</th>  
				    				<th>Item</th> 
				    				<th>Price</th>  
				    			</table> 

			    			</div>
			    			
	
						  	<div class="col-sm-12 recipe-DishView"> 

				    			
				    			  <table class="table table-hover recipe-DishView" id="DishViewMenu">

				    			  	

				    			  </table>

				    			
				    				<th></th> 
				    				<th></th> 
				    				<th></th> 
				    				
				    				

				    				<th></th>
				    				<th></th> 
				    				<th></th> 
				    				<th>   </th>
				    				
				    			
								</table>



			    			</div> <!-- end of lasagne recipe -->

			    			<div class="col-sm-12">
			    			<h3>Item total:"  "   "   model.getTotalDishPriceView(id)    "  "  "SEK"   "</h3>

			    			<a href="#search" class="btn btn-group btn-group-md" role="group" id="DishBackToSelector"> 
							<type="button" class="btn btn-default btn-custom"> Back to Select Dish </a>

							<span id="ConfirmButtonBox"> 
							<a class="btn-group btn-group-md" role="group" id="DishConfirmDish">
							<type="button" class="btn btn-default btn-success ConfirmDishButton"> Add to menu </button> 
							</a>
							</span> 
			    			<hr>

			    			</div>
			    			
		
		
			    	
			    		</div> 
	

			    	</div> 
			            
			</div> <!-- selector menu keywords and accordion END -->

			</div>


			

		</div> <!-- selector area END