<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->
<head>
 <link rel="stylesheet" href="styles/main.css">

</head>





 <div class="jumbotron">

		<div class="panel panel-default jumbopanel">

			<h2> A home dinner service </h2> 
			<h3 class="slogan"> From the best chefs in the world directly into your kitchen </h3>
			<hr> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						quis .</p>

			<a href="#search" class="btn btn-group btn-group-lg  center-block pull-right" role="group" id="StartPlanningButton">
							<type="button" class="btn btn-default btn-custom"> Start planning now </a>  

		</div>

	</div>